.container_details {
  margin-left: 30px;
  margin-right: 30px;
}
.button_back {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  font-weight: 500;
  margin-bottom: 20px;
}
.button_back:hover,
.button_back:focus {
  color: red;
}
.details {
  display: flex;
  gap: 30px;
}
.poster {
  width: 333px;
  height: auto;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}
.movie {
  width: 400px;
}
.list_details {
  margin-left: 20px;
  padding: 0;
}
.list_revCast {
  padding: 0;
  margin-left: 45px;
  padding-top: 20px;
  list-style: none;
  font-size: 20px;
}
.link:focus,
.link:hover {
  color: red;
}
.link {
  text-decoration: none;
  color: black;
}
.icon {
  padding-right: 7px;
}
